{
  "PackageVersion": "1.$TRAVIS_BUILD_NUMBER",
  "ConfigVersion": "0.9",
  "TaskSettings": {
    "bintray" : {
      "subject": "rahulsom",
      "repository": "golang",
      "package" : "mailcli",
      "apikey": "$BINTRAY_APIKEY",
      "downloadspage": "bintray.md"
    }
  }
}